{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    {% endblock css %}
    {% comment %} <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" /> {% endcomment %}

    <link rel="shortcut icon" href="{% static 'css/img/logo.png' %}" type="image/png">
    <link rel="apple-touch-icon" href="{% static 'css/img/logo.png' %}">
    <link rel="icon" href="{% static 'css/img/logo.png' %}" type="image/png">  

    {% block title %} 
    <title>Home | Zinago</title>
    {% endblock title %} 

    <meta name="author" content="Emeka Casper Onwuepe " />
    <meta
      name="description"
      content="A legal, immigration, Real Estate and Human Resource firm dedicated to providing professional legal and HR Consulting Services and evolving Recruitment Solutions that help our customers become more productive and profitable."
    />
    {% block keywords %} 
    <meta
      property="og:description"
      content="A legal, immigration, Real Estate and Human Resource firm dedicated to providing professional HR Consulting Services and evolving Recruitment Solutions that help our customers become more productive and profitable."
    />
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:type" content="service" />
    <meta
      property="og:title"
      content="Zinago Legal, Immigration, Real Estate and HR Services"
    />

    {% endblock keywords %}
    <meta
      name="keywords"
      content="Consulting, Human Resources, Real Estate,Recruitment,law firm, Abuja, Abuja law firm, Services"
    />
  </head>
  <body>
    <div class="bigwrapper">
      
      {% block header %}
        <div class="overlay-div">
        <div class="header-div">
          <header>
            <div class="logo">
              <a href="/">
                <img class="logo" src="{% static 'css/img/logo.png' %}" alt="logo"
              /></a>
            </div>
            <nav>
              <a href="/">Home</a>
              <a href="">Contact</a>
              <a href="">Services</a>
              <a href="">Jobs</a>
            </nav>
          </header>
        </div>

        <div class="overlay"></div>
      </div>
      <div class="text">
        <h1>Legal, Immigration, Real Estate and Human Resources Services</h1>
        <p>
          We are an Employment, Real Estate and Immigration Firm in Abuja, Nigeria. We offer
          high-quality legal support for Nigerians, Expatriates, and
          Non-Nigerians. We handle a broad range of immigration cases and
          prioritize delivering exceptional legal services to our clients in all
          areas of law in Nigeria.
        </p>
      </div>
      {% endblock header %}
        
    
      <main>
        
        {% block mainbody %}  
        <section class="section">
          <h3>Our Legal Services</h3>

          <div class="flex-container legal">
            <div class="shadow">Business Affairs</div>
            <div class="shadow">Debt and Asset Recovery</div>
            <div class="shadow">Pensions, Employment and Labour Laws</div>
            <div class="shadow">Family and Matrimonial Law</div>
            <div class="shadow">
              Intellectual Property - Patents, Copyrights and Trademark
              Registration
            </div>
            <div class="shadow">
              Real Estate - Purchase, Leasing and Management of Properties
            </div>
            <div class="shadow last">
              Company Commercial - Company Registration, Filling of Annual
              Returns, Formations, Regulatory and Corporate Governance including
              Company Secretarial Services
            </div>
          </div>
        </section>

        <section class="flex-container short_story" id="short_story">
          <div class="flex_item">
            <div class="image_div">
              <img
                width="95%"
                height="auto"
                src="{% static 'css/img/travel2.jpg' %}"
                alt="immigration"
              />
            </div>
            <h4>Immigration</h4>
            <p>
              We specialize in providing expert legal services in the field of
              immigration law. Our team of experienced immigration attorneys is
              dedicated to helping individuals, families, and businesses
              navigate the complexities of the immigration system. Whether you
              are seeking to obtain a visa, or need assistance with any
              immigration-related issues, we are here to provide you with
              knowledgeable and compassionate representation.
            </p>
          </div>

          <div class="flex_item">
            <div class="image_div">
              <img
                width="95%"
                height="auto"
                src="{% static 'css/img/hr3.jpg' %}"
                alt="immigration"
              />
            </div>
            <h4>Human Resources Management</h4>
            <p>
              We are dedicated to providing expert legal services in the field
              of employment law. Our team is committed to helping both employees
              and employers navigate the complex landscape of labor and
              employment regulations. With a focus on protecting rights and
              resolving disputes, we offer comprehensive legal solutions
              tailored to meet the unique needs of each client.
            </p>
          </div>

          <div class="flex_item">
            <div class="image_div">
              <img
                width="95%"
                height="auto"
                src="{% static 'css/img/housing1.jpg' %}"
                alt="immigration"
              />
            </div>
            <h4>Real Estate</h4>
            <p>
              We provide expert legal services in the field of real estate law
              in Nigeria. Our lawyers are dedicated to assisting clients with
              all aspects of real estate transactions, from acquisition and
              development to leasing and financing. With a deep understanding of
              the Nigerian real estate market and regulatory environment, our
              services are fine tuned to meet the needs of our clients.
            </p>
          </div>
        </section>
        <section class="section immigration">
          <h3>Our Immigration Services</h3>
          <p>
            Our immigration lawyers offer answers and cost-effective solutions
            to our Clients inquiries on Nigerian legal and regulatory
            requirements for expatriate employees and employee relations.
          </p>
          <div class="flex-container immigration_flex">
            <div class="shadow">Assist with Business Visa</div>
            <div class="shadow">Expatriate Quota Approval</div>
            <div class="shadow">All Ministry of Interior Approvals</div>
            <div class="shadow">
              Nigerian Immigration Service- (NIS) Approval
            </div>
            <div class="shadow">Resident Permit</div>
            <div class="shadow">CERPAC Approval</div>
            <div class="shadow">
              Ministry of Foreign Affairs Certification of Documents
            </div>
            <div class="shadow">
              Business Permit- Nigerian Investment Promotion Commission (NIPC)
            </div>
            <div class="shadow">Naturalisation</div>
            <div class="shadow">Investment Status</div>
            <div class="shadow">Business Immigration Matters</div>
            <div class="shadow">All Immigrant & Non- Immigration Matters</div>
            <div class="shadow last">
              We process only the standard Tourist United Kingdom Visa, we give
              advice and package your application
            </div>
          </div>
        </section>

        <section class="section hr" id="hr">
          <h3>Our Human Resource Services</h3>
          <div class="flex-container">
            <div class="hr_image_div flex_item">
              <img width="100%" 
                src="{% static 'css/img/hr5.jpg' %}"
                alt="immigration" />
            </div>
            <div class="flex_item">
              <p class="hr_p">
                Our employment lawyers offer legal assistance to Nigerian and
                International clients to help them achieve their business goals
                and conform with Nigerian employment law. We provide plans,
                advice, and techniques to prevent possible disruptive employee
                disputes. In case of legal disagreements, we vigorously defend
                our clients' right in court and explore other options such as
                mediation and arbitration.
              </p>
            </div>
            <div class="flex_item last">
              <p class="hr_p">
                We also offer advanced employment law guidance covering various
                aspects such as management and workforce terminations,
                employment contract negotiation and review, employee share
                schemes, Training and Development, Recruitment and Selection,
                outsourcing, pensions, tax liabilities, independent contractors,
                and compliance with safety and health regulations. Drafting and
                Review of Employment agreement, Employment Policy and Employment
                Handbook. We provide guidance on the immigration and tax status
                of foreign employees in Nigeria.
              </p>
            </div>
          </div>
          <div class="flex-container">
            <div class="service">
              <h4>Recruitment</h4>
              <p>
                We are experienced in sourcing and recruiting qualified
                candidates who are a good fit for your company.
              </p>
            </div>
            <div class="service">
              <h4>Employee/Staff Audits</h4>
              <p>
                We assess labour issues; compile up to date records of employees
                and identify ghost workers on the payroll.
              </p>
            </div>
            <div class="service">
              <h4>Training & Skills Development</h4>
              <p>
                We conduct skills audits & inform management on the skills gaps
                discovered during the audit and identify trainings bridge those
                gaps.
              </p>
            </div>
            <div class="service">
              <h4>H.R Documents</h4>
              <p>
                We will set up employee files, and ensure employees have job
                contracts, job descriptions and ensure that all the necessary HR
                policies are in place and are up to date.
              </p>
            </div>

            <div class="service">
              <h4>HR Audits</h4>
              <p>
                We conduct a comprehensive audit to review current human
                resources policies, procedures documentation and systems. We
                identify needs for improvement and enhancement of the HR
                functions and give a detailed report on findings.
              </p>
            </div>
            <div class="service">
              <h4>Reviewing and Drafting of Contracts</h4>
              <p>
                We help in reviewing, drafting employment contract & Agreement,
                non-Disclosure Agreement, Director's Severance, employment
                policy and Staff Handbook.
              </p>
            </div>
            <div class="service">
              <h4>Human Resources Information System</h4>
              <p>
                We help install HR software solution, that can help maintain,
                manage and process detailed employee information and human
                resources related policies and procedures.
              </p>
            </div>

            <div class="service">
              <h4>Labour and Employee Relations</h4>
              <p>
                We will assist management and employees with any labour related
                issues, including representation in the National Industrial
                Court and advising on the best labour practices.
              </p>
            </div>
            <div class="service">
              <h4>Arbitration</h4>
              <p>
                Dispute arising from Agreement where there is an Arbitration
                clause or where parties have agreed that dispute should be
                resolved by Arbitration.
              </p>
            </div>
            <div class="service">
              <h4>Compensation Management</h4>
              <p>
                We would help in managing, analyzing, and determining the
                salary, incentives & benefits for each of your employee. Our aim
                is to attract, retain and engage employees by offering broad and
                competitive compensation plans within the company budget
              </p>
            </div>
            <div class="service last">
              <h4>Regulatory Compliance</h4>
              <p>
                We work with our client's management to ensure your company is
                fully compliant with all relevant regulations such as The Labour
                Act, The factories Act, The National Industrial Court Act,
                Employee Compensation Act, Pension Reform Act, The Constitution
                of The Federal Republic of Nigeria, etc
              </p>
            </div>
          </div>
        </section>
        <section class="section real-estate">
          <h3>Our Real Estate Services</h3>
          <p>
            Finding your way around the Nigerian real estate market is very hard
            and complicated. Because of this, investors, property and project
            developers, and financiers need legal representation to make sure
            they reach their business goals and protect their rights and
            interests. Real estate is important and at the center of many
            different kinds of deals.
          </p>
          <p>
            We provide legal representation for a wide range of transactions,
            including those involving private and institutional investors,
            property proprietors, developers, and financiers.
          </p>
          <div class="flex-container legal">
            <div class="shadow">
              Drafting and negotiating real estate contracts and other documents
            </div>
            <div class="shadow">
              Representing Clients in buying and selling of properties
            </div>
            <div class="shadow">Facilitating real estate development plans</div>
            <div class="shadow">Perfecting Title Documents</div>
            <div class="shadow">Managing of Properties</div>
            <div class="shadow">Notarizing of legal Documents</div>
          </div>
        </section>
{% endblock mainbody %}

        <section id="contact" class="contact_us">
          <h3 class="contact_head">Contact Us</h3>
          <div class="contact_flex">
            <div class="mapbox-iframe">
              <iframe
                class="map-frame"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.1337140035735!2d7.4633441000000005!3d9.051565799999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0b144783fe1d%3A0xcc71797e6701d35c!2s45%20Nouakchott%20St%2C%20Wuse%20904101%2C%20Abuja!5e0!3m2!1sen!2sng!4v1654810197135!5m2!1sen!2sng"
                height="300"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
            <div class="write_ups">
              <div>
                <h4>Open Hours</h4>
                <p>Monday - Friday: 8AM - 6PM</p>
              </div>

              <div>
                <h4>Call</h4>
                <p>
                  Phone:
                  <a href="tel:+2348188850051">08188850051</a>
                </p>
              </div>

              <div>
                <h4>Email</h4>
                <p>zinagolawpractice@gmail.com</p>
              </div>

              <div>
                <h4>Visit Us</h4>
                <p>
                  45 Nouakchott Street, <br />
                  Wuse Zone 1, <br />
                  Abuja Nigeria
                </p>
              </div>

              <div id="socials">
                <a href=""
                  ><img
                    class="facebook"
                    src="{% static 'css/social/facebook.png' %}"
                    alt="facebook"
                /></a>
                <a href="https://www.instagram.com/zinago_lawpractice"
                  ><img
                    class="instagram"
                    src="{% static 'css/social/instagram.png' %}"
                    alt="instagram"
                /></a>
                <a href=""
                  ><img
                    class="twitter"
                    src="{% static 'css/social/twitter.png' %}"
                    instagram
                    alt="twitter"
                /></a>
                <a href="https://wa.me/+2348188850051?text=Hello%20%20Zinago%20Law%20Practice"
                  ><img
                    class="whatsapp"
                    src="{% static 'css/social/whatsapp.png' %}"
                    alt="whatsapp"
                /></a>
              </div>
            </div>
          </div>
        </section>
      </main>
      <div
        onclick="window.scrollTo({top: 0, behavior:'smooth'})"
        id="backToTop"
        class="backToTop"
      >
        <a onclick="window.scrollTo({top: 0, behavior:'smooth'})">&#10094;</a>
      </div>
      <footer>
        <p id="footer">
          Copyright &copy; <span id="footerdate" style="padding: 0%"></span>.
          All rights reserved. www.zinago.ng
        </p>
      </footer>
    </div>
    {% block javascript %}
    <script src="{% static 'javascript/home.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>
