        {% load static %}
        <div class="share">
            <div class="fb-share-button" data-href="{{request.build_absolute_uri}}" data-layout="button_count" data-size="small">
            </div>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{article.description}}" data-size="">
                <img id="twitter icon" src="{% static 'css/social/twitter.png' %}" alt="">
            </a>
            <a href="whatsapp://send?text={{request.build_absolute_uri}}"> <img id="whatsappicon" src="{% static 'css/social/whatsapp.png' %}" alt=""></a>
            <div style="display:inline ;" class="fb-share-button" data-href="{{request.build_absolute_uri}}" data-layout="button_count" data-size="small">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><img id="facebook icon" src="{% static 'css/social/facebook.png' %}" alt=""></a>
            </div>
        </div>

       