<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slide_category.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropdown.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}"> -->
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="fonts.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="{% static 'css/img/logo.png' %}" type="image/png">
    <link rel="apple-touch-icon" href="{% static 'css/img/logo.png' %}">
    <link rel="icon" href="{% static 'css/img/logo.png' %}" type="image/png"> 
    <!-- {% block title %} -->
    <title>Home | Zinago </title>
    <!-- {% endblock title %} -->
    <meta name="author" content="Emeka Casper Onwuepe " />
    <meta name="description" content="A Human Resource and legal firm dedicated to providing professional legal and HR Consulting Services and evolving Recruitment Solutions that help our customers become more productive and profitable." /> 
    <!-- {% block keywords %} -->
    <meta name="keywords" content="Consulting, Human Resources, Recruitment,law firm, Abuja, Abuja law firm, Services" /> 
    <!-- {% endblock keywords %} -->
    <meta name="author" content="Emeka Casper Onwuepe " />
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:type" content="service" />
    <meta property="og:title" content="Zinago HR and Legal Services" />
    <meta property="og:description" content="A Human Resource firm dedicated to providing professional HR Consulting Services and evolving Recruitment Solutions that help our customers become more productive and profitable." />
</head>
</head>
<body>
    <div class="bigwrapper">
        <div class="overlay-div">
            <div class="header-div">
                <header>
                    <section class="logo">
                        <a href="/"> <img class="logo" src="./images/logo.png" alt="logo"></a>
                    </section>
                    <nav>
                        <a href="">Home</a>
                        <a href="">Contact</a>
                        <a href="">Services</a>

                    </nav>
                </header>
            </div>
            
            <div class="overlay">
                
            </div>
           
            
        </div>
        <div class="text">
            <h1>Legal, Immigration and Human Resources Services</h1>
            <p class="">
                We are Employment and Immigration Firm in Abuja, Nigeria , We offers high-quality legal support for Nigerians, Expatriates, and Non-Nigerians. We handle a broad range of immigration cases for our clients. We prioritize delivering exceptional legal services as Immigration Lawyers to our clients in all areas of immigration law  in Nigeria.
            </p>
           
        </div>

        <main></main>
    </div>
</body>
</html>