<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slide_category.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropdown.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}"> -->
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="fonts.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="{% static 'css/img/logo.png' %}" type="image/png">
    <link rel="apple-touch-icon" href="{% static 'css/img/logo.png' %}">
    <link rel="icon" href="{% static 'css/img/logo.png' %}" type="image/png"> 
    <!-- {% block title %} -->
    <title>Home | Zinago </title>
    <!-- {% endblock title %} -->
    <meta name="author" content="Emeka Casper Onwuepe " />
    <meta name="description" content="A Human Resource and legal firm dedicated to providing professional legal and HR Consulting Services and evolving Recruitment Solutions that help our customers become more productive and profitable." /> 
    <!-- {% block keywords %} -->
    <meta name="keywords" content="Consulting, Human Resources, Recruitment,law firm, Abuja, Abuja law firm, Services" /> 
    <!-- {% endblock keywords %} -->
    <meta name="author" content="Emeka Casper Onwuepe " />
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:type" content="service" />
    <meta property="og:title" content="Zinago HR and Legal Services" />
    <meta property="og:description" content="A Human Resource firm dedicated to providing professional HR Consulting Services and evolving Recruitment Solutions that help our customers become more productive and profitable." />
</head>
</head>
<body>
    <div class="bigwrapper">
        <div class="overlay-div">
            <div class="header-div">
                <header>
                    <section class="logo">
                        <a href="/"> <img class="logo" src="./images/logo.png" alt="logo"></a>
                    </section>
                    <nav>
                        <a href="">Home</a>
                        <a href="">Contact</a>
                        <a href="">Services</a>

                    </nav>
                </header>
            </div>
            
            <div class="overlay">
                
            </div>
           
            
        </div>
        <div class="text">
            <h1>Legal, Immigration and Human Resources Services</h1>
            <p class="">
                We are Employment and Immigration Firm in Abuja, Nigeria , We offers high-quality legal support for Nigerians, Expatriates, and Non-Nigerians. We handle a broad range of immigration cases for our clients. We prioritize delivering exceptional legal services as Immigration Lawyers to our clients in all areas of immigration law  in Nigeria.
            </p>
           
        </div>

        <main>
           
            <section class="section">
                <!-- <div class="svg-div">
                    <div class="svgs one">
                        <svg  style="z-index:-1;" 
                        id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                        <path fill="#000000" d="M419,318Q396,396,318,415.5Q240,435,165.5,412Q91,389,82.5,314.5Q74,240,80,163Q86,86,163,78.5Q240,71,291.5,104Q343,137,392.5,188.5Q442,240,419,318Z" />
                        </svg>
                    </div>

                    <div class="svgs two">
                        <svg  style="z-index:-1;" 
                        id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                        <path fill="#000000" d="M419,318Q396,396,318,415.5Q240,435,165.5,412Q91,389,82.5,314.5Q74,240,80,163Q86,86,163,78.5Q240,71,291.5,104Q343,137,392.5,188.5Q442,240,419,318Z" />
                        </svg>
                    </div>

                    <div class="svgs three">
                        <svg  style="z-index:-1;" 
                        id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                        <path fill="#000000" d="M419,318Q396,396,318,415.5Q240,435,165.5,412Q91,389,82.5,314.5Q74,240,80,163Q86,86,163,78.5Q240,71,291.5,104Q343,137,392.5,188.5Q442,240,419,318Z" />
                        </svg>
                    </div>
                    
                    <div class="svgs four">
                        <svg  style="z-index:-1" 
                        id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                        <path fill="#000000" d="M419,318Q396,396,318,415.5Q240,435,165.5,412Q91,389,82.5,314.5Q74,240,80,163Q86,86,163,78.5Q240,71,291.5,104Q343,137,392.5,188.5Q442,240,419,318Z" />
                        </svg>
                    </div>
                    <div class="svgs five">
                        <svg  style="z-index:-1;" 
                        id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                        <path fill="#000000" d="M419,318Q396,396,318,415.5Q240,435,165.5,412Q91,389,82.5,314.5Q74,240,80,163Q86,86,163,78.5Q240,71,291.5,104Q343,137,392.5,188.5Q442,240,419,318Z" />
                        </svg>
                    </div>

                    <div class="svgs six">
                        <svg  style="z-index:-1" 
                        id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                        <path fill="#000000" d="M419,318Q396,396,318,415.5Q240,435,165.5,412Q91,389,82.5,314.5Q74,240,80,163Q86,86,163,78.5Q240,71,291.5,104Q343,137,392.5,188.5Q442,240,419,318Z" />
                        </svg>
                    </div>
                    <div class="svgs seven">
                        <svg  style="z-index:-1" 
                        id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                        <path fill="#000000" d="M419,318Q396,396,318,415.5Q240,435,165.5,412Q91,389,82.5,314.5Q74,240,80,163Q86,86,163,78.5Q240,71,291.5,104Q343,137,392.5,188.5Q442,240,419,318Z" />
                        </svg>
                    </div>
            </div> -->
                <!-- <svg style="position: absolute;z-index:-1" id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                    <path fill="#000000" d="M419,318Q396,396,318,415.5Q240,435,165.5,412Q91,389,82.5,314.5Q74,240,80,163Q86,86,163,78.5Q240,71,291.5,104Q343,137,392.5,188.5Q442,240,419,318Z" />
                </svg>
                <svg style="position: absolute;z-index:-1" id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                    <path fill="#000000" d="M419,318Q396,396,318,415.5Q240,435,165.5,412Q91,389,82.5,314.5Q74,240,80,163Q86,86,163,78.5Q240,71,291.5,104Q343,137,392.5,188.5Q442,240,419,318Z" />
                </svg> -->
                <h3>Our Legal Services</h3>
                
                <div class="flex-container legal">
                  
                    <!-- <svg style="position: absolute;z-index:-1" id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                        <path fill="#000000" d="M419,318Q396,396,318,415.5Q240,435,165.5,412Q91,389,82.5,314.5Q74,240,80,163Q86,86,163,78.5Q240,71,291.5,104Q343,137,392.5,188.5Q442,240,419,318Z" />
                    </svg>
                    <svg style="position: absolute;z-index:-1" id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                        <path fill="#000000" d="M419,318Q396,396,318,415.5Q240,435,165.5,412Q91,389,82.5,314.5Q74,240,80,163Q86,86,163,78.5Q240,71,291.5,104Q343,137,392.5,188.5Q442,240,419,318Z" />
                    </svg> -->
                    <div class="shadow">Business Affairs</div>
                    <div class="shadow">Debt and Asset Recovery</div>
                    <div class="shadow">Pensions, Employment and Labour Laws</div>
                    <div class="shadow">Family and Matrimonial Law</div>
                    <div class="shadow">Intellectual Property - Patents, Copyrights and Trademark Registration</div>
                    <div class="shadow">Real Estate - Purchase, Leasing and Management  of Properties</div>
                    <div class="shadow">Company Commercial - Formations, Regulatory and Corporate Governance including Company Secretarial Services </div>
                </div>
            </section>

            <section class="section immigration">
                <h3 >Our Immagration Services</h3>
                <p style="padding:0px 20px 20px 20px;text-align:justify">Our immigration lawyers offer answers and cost-effective solutions to our Clients inquiries on Nigerian legal and regulatory requirements for expatriate employees and employee relations.</p>
                <div class="flex-container immigration_flex">
                    <div class="shadow">Assist with Business Visa</div>
                    <div class="shadow">Expatriate Quota Approval</div>
                    <div class="shadow"> Business Permit- Nigerian Investment Promotion Commission (NIPC)</div>
                    <div class="shadow">Nigerian Immigration Service- (NIS) Approval</div>
                    <div class="shadow">All Ministry of Interior Approvals</div>
                    <div class="shadow">Resident Permit</div>
                    <div class="shadow">CERPAC Approval</div>
                    <div class="shadow">Ministry of Foreign Affairs Certification of Documents</div>
                    <div class="shadow">Naturalisation</div>
                    <div class="shadow">Investment Status</div>
                    <div class="shadow">Business Immigration Matters</div>
                    <div class="shadow">All Immigrant & Non- Immigration Matters</div>
                    <div class="shadow">We process only the standard Tourist United Kingdom Visa, we give advice and package your application</div>
                </div>
            </section>
           

        </main>
    </div>
</body>
</html>