@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: black;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  text-align: center;
}
.bigwrapper {
  padding: 0px 5px;
  max-width: 1700px;
  box-sizing: border-box;
  /* background-color: #078888; */
}

body {
  background-color: #02585875;
}

a {
  text-decoration: none;
  display: inline-block;
  color: white;
}

.header-div {
  position: fixed;
  z-index: 10;
  background-color: #078888;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 70px;
  background-color: white;
}

.sperator {
  height: calc(70px / 1.6);
}

.sperator_2 {
    height: 200px;
  }

.logo img {
  width: 100%;
  height: auto;
  /* background-color: white; */
}

nav {
  display: flex;
  width: calc((100vw / 2) + 65px);
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}
main {
  min-height: calc(100vh - (70px / 1.6) - 80px);
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* .list_items{
  width: 90%;
} */
.flex_item{
  width: 100%;
  /* border-right: 1px solid white; */
}
.items{
  padding: 10px;
  /* margin: 5px; */
}
.innerItem{
  padding: 5px;
}
.innerItem p{
  margin-bottom: 10px;
}

#socials {
  text-align: center;
}

#loginForm {
  text-align: left;
  align-self: center;
  margin-top: 150px;
}

.button {
  padding: 10px;
  color: #ffffff;
  background-color: #078888;
  border-color: #078888;
  box-shadow: #ffffff;
}

button{
  padding: 3px;
}



.delete{
  color: white;
  background-color: red;
  border-color: red;
}

.edit{
  color: white;
  background-color: green;
  border-color: green;
}

input,
textarea,
.divEditor,
select {
  background-color: #fcfcfc;
  text-align: left;
}

.loginform input {
  margin: 10px;
}

input,
textarea,
select,
.divEditor {
  width: 170px;
  padding: 10px;
}

/* .divEditor {
  width: 300px;
} */

#divEditor,
#divEditor div {
  display: block;
  margin: unset;
  text-align: left;
}

#divEditor div {
  margin-bottom: 20px;
}

button {
  width: unset;
}

.loginform div {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
  align-items: center;
}

.formfields {
  padding: 20px;
  margin-bottom: 20px;
}


#buttonDiv {
  display: flex;
  position: fixed;
  width: calc(100vw - 40px);
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
  left: 20px;
  text-align: center;
  /* margin-top: 10px; */
  background-color: #f2f2f2;
  padding: 10px;
}

#id_description {
  height: 70px;
}

#buttonDiv button,
#buttonDiv select {
  padding: 5px;
  margin: 2px;
  background-color: #ffffff;
}

#buttonDiv select {
  width: 100px;
}

.formfields div {
  display: flex;
  /* margin-right: 20px; */
  /* border: 2px solid red; */
  justify-content: space-evenly;
  margin: 20px auto;
  align-items: center;
}

.formfields label{
  /* border: 2px solid red; */
  width: 155px;
  /* margin-right: 10px; */
  text-align: left;
  /* display: inline; */
}

.divEditor {
  height: 300px;
  overflow-y: scroll;
  /* padding: 8px 10px 8px 20px; */
  background-color: white;
}

.divEditor li {
  color: black;
  font-size: 16px;
  margin: 0px;
  margin-left: 20px;
}

footer {
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p,
footer span {
  color: white;
}
footer p {
  padding: 10px;
}

.backToTop {
  position: fixed;
  right: 5%;
  top: 63%;
  text-align: center;
  background-color: rgba(1, 1, 1, 0.4);
  width: 40px;
  height: 40px;
  z-index: 150;
  padding: 2px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  cursor: pointer;
  display: none;
}

.backToTop a {
  color: white;
  font-size: 30px;
}

@media screen and (min-width: 360px) {
  .logo {
    width: 100px;
  }

  .sperator {
    height: calc(100px / 1.6);
  }

  nav {
    width: calc((100vw / 2) + 50px);
  }

  main {
    min-height: calc(100vh - (100px / 1.6) - 80px);
  }

  input,
  textarea,
  select,
  .divEditor {
    width: 200px;
  }

   /* #buttonDiv {
  width: calc(100vw - 40px);
  } */
  /* .divEditor {
    width: 300px;
  } */
}

@media screen and (min-width: 400px) {

  #buttonDiv {
  width: calc(100vw - 60px);
  }
  .sperator_2{height: 170px;}

  input,
  textarea,
  select,
  .divEditor {
    width: 210px;
  }
}

@media screen and (min-width: 500px) {
  .logo {
    width: 120px;
  }

  .sperator {
    height: calc(120px / 1.6);
  }
  nav {
    width: calc((100vw / 3) + 50px);
  }
  main {
    min-height: calc(100vh - (120px / 1.6) - 80px);
  }

  input,
  textarea,
  select,
  .divEditor {
    width: 300px;
  }

  /* .divEditor {
    width: 400px;
  } */
}

@media screen and (min-width: 540px) {

  .sperator_2{height: 120px;}
}

@media screen and (min-width: 750px) {
  .logo {
    width: 150px;
  }

  .sperator {
    height: calc(150px / 1.6);
  }
  main {
    min-height: calc(100vh - (150px / 1.6) - 80px);
  }

  input,
  textarea,
  select,
  .divEditor {
    width: 400px;
  }

  /* .divEditor {
    width: 500px;
  } */
}

@media screen and (min-width: 1000px) {
  .logo {
    width: 200px;
  }
  .sperator {
    height: calc(200px / 1.6);
  }
  /* .sperator_2 {
    height: 140px;
  } */
  nav {
    width: calc((100vw / 5) + 50px);
  }

  main {
    min-height: calc(100vh - (200px / 1.6) - 80px);
  }

  input,
  textarea,
  select,
  .divEditor {
    width: 500px;
  }

 
  /* .divEditor {
    width: 650px;
  } */
}


@media screen and (min-width: 1400px) {

 .flex_item{
  width: 50%;
  /* border-right: 1px solid white; */
}
}