{% extends 'publication/base.html' %} {% block nav %}
<form action="{% url 'users:logoutView' %}" method="post">
    {% csrf_token %}
    <button type="submit">Sign Out</button>
</form>
<form action="{% url 'publication:articlePublisherView' article_id %}" method="post">
    {% csrf_token %}
    <button type="submit">View</button>
</form>
{% endblock nav %} {% block main %}
{% include 'publication/buttons.html' %}
<form action="{% url 'publication:editview' article_id 'edit' %}" enctype="multipart/form-data" method="post">
    <fieldset>
        <legend>UPDATE ARTICLE</legend>
        <div class="formfields">
        {% csrf_token %} {% for field in article_form %}
        <div class="formfield">
            {{field.errors}} {{field.label_tag}} {{field}} {% if field.help_text %}
            <p class="help">{{field.help_text|safe}}</p>
            {% endif %}
        </div>
        {% endfor %}
        </div>
        <button class='button submitButton' id="loginButton"  onclick="return processData()" type="submit"> UPDATE</button>
    </fieldset>
</form>
{% endblock main %}