{% extends 'publication/base.html' %} {% block nav %}
<form action="{% url 'users:logoutView' %}" method="post">
    {% csrf_token %}
    <button type="submit">Sign Out</button>
</form>
{% endblock nav %} {% block main %} 
{% include 'publication/buttons.html' %}
{% if messages %} {% for message in messages %}
<p style="color: green">{{ message }}</p>
{% endfor %} {% endif %}
 <h4 class="adminuser" style="margin-bottom: 20px;"> Welcome {{user.full_name}}</h4>
 <div class="flexView">
<div class="flex-container " >
     <form  method="post" 
     action="{% url 'publication:publisherView' user.id sectionId 'add_post' %}"
      enctype="multipart/form-data"
     class="flex_item">
    
        <legend>CREATE A NEW JOB POST</legend>
        <div class="formfields">
        {% csrf_token %} {% for field in article_form %}
        <div class="formfield">
            {{field.errors}} {{field.label_tag}} {{field}} {% if field.help_text %}
            <p class="help">{{field.help_text|safe}}</p>
            {% endif %}
        </div>
        {% endfor %}
    
        <button class='button submitButton' id="loginButton"  onclick="return processData()" type="submit"> CREATE</button>
    </div>
    </form> 

        <div class="sectionDiv flex_item">
        <form action="{% url 'publication:publisherView' user.id sectionId action %}" method="post">

            <legend>CREATE SECTION</legend>
            <div class="formfields">
            {% csrf_token %} {{form}}

            <button type="submit" class="submit submitButton button">
        
        {% if action == "add" %}
            ADD
        {% else %}
            UPDATE
        {% endif %}
            
    </button>
            </div>

        </form>
<h4>Sections</h4>
        <section class="flex-container list_items">
            
            {% for section in sections %}
            <div class="items">
                <div class="innerItem">
                    <p><a href="{% url 'publication:controlView' section.id %}">{{section.Name}}</a></p>
                    <a onclick = 'return confirm("Are you sure you want to delete?")' href="{% url 'publication:publisherView' user.id section.id 'delete' %}">
                        <button class="delete"> Delete</button>
                    </a> 
                    <a href="{% url 'publication:publisherView' user.id section.id 'edit' %}">
                        <button class="edit">
                    Edit
                    </button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>

    </div>
</div>
{% endblock main %}